<div class="flex-container prod-container">
  <h2>Cart</h2>
</div>

{{!-- CARDS --}}
<div class="cart-tab-container">
  {{#each cart}}
    <div class="cart-prod-tab" id="{{id}}">
      <h2 class="cart-prod-name">{{title}}</h2>
      <p class="cart-prod-price">Unit price ${{price}}</p>
      <p class="cart-prod-stock">Quantity: {{quantity}} units</p>
      <p class="cart-prod-total">Total: ${{total}}</p>
      <button class="delete-from-cart-button" id="{{id}}" onclick="deleteFromCart('{{id}}')">Delete</button>
    </div>
  {{/each}}
</div>

<a class="purchase-cart" href="/api/carts/{{user.cartId}}/purchase">Purchase</a>
<a class="back-to-products" href='/views/products'>Back to products</a>