<div class="flex-container prod-container">
  <h2>Products</h2>
  <a class="cart-icon" href="cart/{{user.cartId}}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAPFJREFUSEvNldERgjAQRHc7kU6kE/nVItQi9FesRDqRTtbJTOIEIZAE43i/Ifeyt3cHUThYOD9+B5Akq6YHcCd5+oa6twIP4PLWJLu1kFGJJO0A3AB0JOsSgA2Ap028WsWkyZKMAqMkN3qSlbkcAvgqciDzAJNR0gPANic7gLPrwuAceGbnMCqSpt3DgyYpt0wtyca9anaSJZlhOyZKaEi2sYBkFSQHj17cRYlmD8oz64GTKMl0kumomBgN5qIC27IxXkyulihAzNND30QBJF0A7AFcSR78ZHNnUR7YErl/BT67xF/zn2cpgLIKinvw14AX2bpiGTYk590AAAAASUVORK5CYII="/></a>
  
</div>

<section class="home">
    <h1 class="welcome">Welcome to SebAR Futsal</h1>
    <h3 class="hello">Hello, <span>{{user.firstName}}</span> !</h3>
    <p class="user-cartId" id="{{user.cartId}}">{{user.cartId}}</p>


    <p class="greeting">Thank you for registering on our website. We have everything you need for your sports practice.</p>
    <p class="greeting">For inquiries, complaints, or orders, do not hesitate to contact us.</p>
    <p class="greeting">Enjoy our website!</p>
    <p class="greeting">"We breathe Futsal."</p>
    <a class="logout" href='/api/sessions/logout'>Logout</a>
</section>

{{!-- CARDS --}}
<div class="product-cards">
  {{#each products}}
    <div class="product-card" id="{{_id}}">
      <h2 class="product-name">{{title}}</h2>
      <p class="product-description">{{description}}</p>
      <p class="product-price">${{price}}</p>
      <p class="product-stock">Stock: {{stock}} unidades</p>
      {{!-- <p class="image">{{thumbnail}}</p> --}}
      <button class="add-to-cart-button" id="{{_id}}" onclick="addToCart('{{_id}}')">Add to Cart</button>
    </div>
  {{/each}}
</div>

{{!-- PAGES --}}
<div class="pages-container">
  {{#if pagination.hasPrevPage}}
    <a href="{{pagination.prevLink}}" class="pages">
      <span>
        {{pagination.prevPage}}
      </span>
    </a>
  {{/if}}

  <a class="pages actual">
    <span>
      {{pagination.page}}
    </span>
  </a>

  {{#if pagination.hasNextPage}}
    <a href="{{pagination.nextLink}}" class="pages">
      <span>
        {{pagination.nextPage}}
      </span>
    </a>
  {{/if}}
</div>


{{!-- PAGINATION --}}
<div class="pagination">
  <p>totalDocs: <span>{{pagination.totalDocs}}</span></p>
  <p>limit: <span>{{pagination.limit}}</span></p>
  <p>totalPages: <span>{{pagination.totalPages}}</span></p>
  <p>pagingCounter: <span>{{pagination.pagingCounter}}</span></p>
  <p>hasPrevPage: <span>{{pagination.hasPrevPage}}</span></p>
  <p>hasNextPage: <span>{{pagination.hasNextPage}}</span></p>
  <p>prevPage: <span>{{pagination.prevPage}}</span></p>
  <p>nextPage: <span>{{pagination.nextPage}}</span></p>
  <p>nextLink: <span>{{pagination.nextLink}}</span></p>
  <p>prevLink: <span>{{pagination.prevLink}}</span></p>
</div>