<br><br>

<div class="container">
    <div class="ticket">
        <h5>Gracias {{newTk.purchaser}}</h5>
        <h6>Tu ticket ha sido generado, </h6>
        <h6>Para completar la operación clickea en comprar</h6><br>
        <h6>Your ticket ID: <strong>{{newTk.id}}</strong></h6>
    </div>
    <div class="box"> 
        <div class="box-total">
            <h6>Total: $ {{amount}}</h6>
            <h6>Total Items:  {{totalquantity}}</h6> 
        </div>
        <div class="box-table"> 
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                
                    </tr>
                </thead>
                <tbody class="tbody">
                    {{#each products}} 
                    <tr>
                    <td>{{this.title}}</td>
                    <td>$<strong>{{this.prices}}</strong></td>
                    <td>{{this.quantity}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div><br>
        <form action="/api/cart/chargeTicket/?amount={{amount}}" method="POST"> 
            <script 
                src="https://checkout.stripe.com/checkout.js" class="stripe-button" 
                data-key="{{ stripePublishableKey}}"
                data-amount='{{amount}}00'
                data-name="Tiket CoderHouse 44705"
                data-description="Use '4242 4242 4242 4242' for card #" 
                data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                data-locale="auto">
            </script> 
            <script>
                
                document.getElementsByClassName('stripe-button-el')[0].style.display='none';
            </script>
            <button type="submit" class="btn btn-outline-success btn-block">Pagar con Stripe</button>
        </form>
    </div>
</div>