<div class="flex-container prod-container">
    <h2>Ticket</h2>
</div>

<div class="ticket">
    <p class="ticket-header">Thanks for your purchase!</p>
    <p>{{id}}</p>

    <div class="ticket-products">
        <p>Products</p>
        {{#each products}}
        <div class="ticket-product">
            <p>{{quantity}}</p>
            <p>{{title}}</p>
            <p>Partial price: ${{partialPrice}}</p>
        </div>
        {{/each}}
    </div>

    <p>Total: $<span>{{amount}}</span></p>
    <p class="ticket-mail">We will send your ticket to your mail too <span>{{purchaser}}</span></p>
</div>


<a class="back-to-products" href='/views/products'>Back to products</a>