<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300&family=Shrikhand&display=swap"
      rel="stylesheet"
    />

    {{!-- bootstrap --}}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {{!-- Css --}}
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    {{#if style}}
        <link rel="stylesheet" href="/css/{{style}}">
    {{else}}
     <link rel="stylesheet" href="/src/public/main.css">
    {{/if}}
    {{!-- Title --}}
    <title>{{title}}</title>
</head>
    <body>
            {{!-- NavBar  --}}
            {{#if User}}
                <nav class="navbar navbar-expand-lg navbar-dark" style=" padding-left: 40px;padding-right: 40px;">
                    <a class="navbar-brand" href="/">SebAR Futsal</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" style="align-items: center;justify-content: center;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/products">Products<span class="sr-only">(current)</span></a>
                            </li> 
                        </ul>   
                    </div> 
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/logout">Logout</a>
                            </li>
                        
                        </ul>
                    </div>
                        <a  id="{{user.cart}}" href="/views/cart" class="btn-cart cart-box m-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25" 
                                height="25"
                                fill="currentColor"
                                class="bi bi-cart"
                                viewBox="0 0 16 16"
                            >
                                <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                                />
                            </svg>
                        
                            <p class="cartP">{{cartQuantity}}</p>
                        </a>
                    
                </nav>
            {{else if Premium}}
                <nav class="navbar navbar-expand-lg navbar-dark" style=" padding-left: 40px;padding-right: 40px;">
                    <a class="navbar-brand" href="/">Home Logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" style="align-items: center;justify-content: center;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/products">Products<span class="sr-only">(current)</span></a>
                            </li> 
                        </ul>   
                    </div> 
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/realTimeProducts">Real Time</a>
                            </li>
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/chat">Chat</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/logout">Logout</a>
                            </li>
                        
                        </ul>
                    </div>
                        <a  id="{{user.cart}}" href="/views/cart" class="btn-cart cart-box m-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="25"
                                height="25"
                                fill="currentColor"
                                class="bi bi-cart"
                                viewBox="0 0 16 16"
                            >
                                <path
                                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
                                />
                            </svg>
                        
                            <p class="cartP">{{cartQuantity}}</p>
                        </a> 
                </nav>
            {{else if Admin}}
                <nav class="navbar navbar-expand-lg navbar-dark" style=" padding-left: 40px;padding-right: 40px;">
                    <a class="navbar-brand" href="/">Home Logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" style="align-items: center;justify-content: center;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/products">Products<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/api/docs" target="_blank">Docs<span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/api/admin">Admin Panel</a>
                            </li>
                            <li class="nav-item active">
                               <a class="navbar-brand" href="/views/realTimeProducts">Realtime Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="navbar-brand" href="/session/logout">Logout</a>
                            </li>
                        
                        </ul>
                    </div>
                </nav>
            {{else}}
                <nav class="navbar navbar-expand-lg navbar-dark" style=" padding-left: 40px;padding-right: 40px;">
                    <a class="navbar-brand" href="/">Home Logo</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" style="align-items: center;justify-content: center;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="navbar-brand" href="/views/products">Products<span class="sr-only">(current)</span></a>
                            </li> 
                        </ul>   
                    </div> 
                   
                        <a class="navbar-brand" href="/session/login">Login</a>
                        <a class="navbar-brand" href="/session/register">Register</a> 
                </nav>
            {{/if}}

        <div class="box-body">
                {{{body}}}
        </div>
